<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
    <title>Dhiraj Kumar</title>
</head>

<body>
    <nav class="navigation-container">
        <div class="navigation-sub-container">
            <a href="/" class="navigation-item">Home</a>
            <a href="/fun" class="navigation-item">Fun</a>
            <a href="/login.html" class="navigation-item">Login</a>
            <a href="/contact" class="navigation-item">Contact</a>
        </div>
    </nav>

    <nav class="nav-container">
        <a href="#Intro" class="circle"></a>
        <a href="#flip-container" class="circle"></a>
        <a href="#footer" class="circle"></a>
        <hr />
    </nav>

    <section id="Intro">
        <header>
            <h1> Hi, I'm Dhiraj Kumar.</h1>
            <h2>A Inspiring Software Developer</h2>
        </header>
    </section>
    <section id="flip-container">
        <div class="card">
            <div class="front">
                <h3>Introduction</h3>
            </div>
            <div class="back">
                <img class="profile_pic" src="../static/images/Dhiraj.jpg" alt="profile pic">
                <h4>Hello.</h4>
                <p>I am Electrical Engineer with 6+ month experience in Prototyping, Testing, & PCB Designing and
                    Well-acquainted with Kicad, Arduino, Matlab, esp-idf etc.</p>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <h3>My Skills</h3>
            </div>
            <div class="back">
                <div>
                    <img class="software_pic" src="../static/images/web-development.png" alt="Software Pic">
                    <h4>Software</h4>
                    <p>Kicad, Arduino IDE, Eclipse for Esp-idf, Matlab</p>
                </div>
                <div>
                    <img class="programming_lang" src="../static/images/programmer.png" alt="Programming Lang.">
                    <h4>Programming Languages</h4>
                    <p>C, Python, HTML, CSS</p>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <a href="https://www.linkedin.com/in/dhiraj-kumar-785765185">LinkedIn</a>
        <a href="/static/File/Resume.pdf">Resume</a>
        <a href="https://dhiraj1057.github.io/Resume/">Web Resume</a>
        <p>© {{year}} Dhiraj Kumar.</p>
    </footer>
</body>

</html>